---

# This section defines the service.
service:
  flush: {{ fluentbit.service.flush | default(10) }}
  grace: {{ fluentbit.service.grace | default(5) }}
  daemon: {{ fluentbit.service.daemon | default('no') }}
  dns.mode: {{ fluentbit.service.dns_mode | default('UDP') }}
{% if fluentbit.service.log.file is defined %}
  log_file: {{ fluentbit.service.log.file }}
{% endif %}
  log_level: {{ fluentbit.service.log.level | default('info') }}
{% if fluentbit.service.stream_file is defined %}
  streams_file: {{ fluentbit.service.streams_file }}
{% endif %}
  http_server: {{ fluentbit.service.http.server | default('off') }}
{% if fluentbit.service.http.listen is defined %}
  http_listen: {{ fluentbit.service.http.listen }}
{% endif %}
{% if fluentbit.service.http.listen is defined %}
  http_port: {{ fluentbit.service.http.port }}
{% endif %}
  coro_stack_size: {{ fluentbit.service.coro_stack_size | default(24576) }}
  scheduler.base: {{ fluentbit.service.scheduler_base | default(5) }}
  scheduler.cap: {{ fluentbit.service.scheduler_cap | default(2000) }}
  json.convert_nan_to_null: {{ fluentbit.service.json_nan2null | default('false') }}
  sp.convert_from_str_to_num: {{ fluentbit.service.sp_str2num | default('true') }}

# Include different sections
includes:
  - env.yml
  - plugins.yml
  - streams.yml
  - pipelines/*.yml
  - parsers/*.yml
