pipeline:
  inputs:
{% for input in pipeline.inputs %}
    - name: {{ input.type }}
{% for key,value in input.config.items() %}
{% if key != 'type' %}
      {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
{% if fluentbit.pipeline.filters is defined and fluentbit.pipeline.filters | length %}
  filters:
{% endif %}
{% for filter in pipeline.filters | default([]) %}
    - name: {{ filter.type }}
{% for key,value in filter.config.items() %}
{% if key != 'type' %}
      {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
  outputs:
{% for output in pipeline.outputs %}
    - name: {{ output.type }}
{% for key,value in output.config.items() %}
{% if key != 'type' %}
      {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
