# This file defines sets with IP addresses and ranges to masquerade.

{% if nftables_masquerade.ipv4 is defined and nftables_masquerade.ipv4|length %}
set masquerade-source-v4 {
    type ipv4_addr
    flags interval
    elements = {
{% for ip_range in nftables_masquerade.ipv4 %}
        {{ ip_range }}{{ "," if not loop.last else "" }}
{% endfor %}
    }
}
{% endif %}

{% if nftables_masquerade.ipv6 is defined and nftables_masquerade.ipv6|length %}
set masquerade-source-v6 {
    type ipv6_addr
    flags interval
    elements = {
{% for ip_range in nftables_masquerade.ipv6 %}
        {{ ip_range }}{{ "," if not loop.last else "" }}
{% endfor %}
    }
}
{% endif %}
