{% if nftables_known_sources is defined and nftables_known_sources|length %}
# Known and named source addresses
{% for source in nftables_known_sources %}
define SOURCE_{{ source.name }} = {{ source.ip }}
{% endfor %}
{% endif %}

{# This currently does not support variable lists. A workaround might be sets. #}
{% if nftables_interfaces is defined and nftables_interfaces|length %}
# Define variables for interfaces
{% for interface in nftables_interfaces %}
define INTERFACE_{{ interface.var }} = {{ interface.interface }}
{% endfor %}
{% endif %}

# General standard port definitions one can refer to.
# Some names may vary and this list is not exhaustive.
# The list is inspired by /etc/services
define PORT_STANDARD_DNS = 53
define PORT_STANDARD_HTTP = 80
define PORT_STANDARD_HTTPS = 443
define PORT_STANDARD_KERBEROS = 88
define PORT_STANDARD_LDAP = 389
define PORT_STANDARD_LDAPS = 636
define PORT_STANDARD_MARIADB = 3306
define PORT_STANDARD_NFS = 2049
define PORT_STANDARD_NTP = 123
define PORT_STANDARD_OPENSEARCH = 9200
define PORT_STANDARD_OPENVPN = 1194
define PORT_STANDARD_RPC = 111
define PORT_STANDARD_SNMP = 162
define PORT_STANDARD_SSH = 22

{# TODO: This is not cleaned up currently. We will change that in a future version. #}
# Ansible deployment source
define SOURCE_ANSIBLE_DEPLOYMENT = {{ nftables_deployment_source.stdout }}
