---
_meta:
  type: "internalusers"
  config_version: 2
{{ opensearch.intrnal_users.admin.name | default("admin") }}:
  hash: "{{ opensearch.internal_users.admin.password | ansible.builtin.password_hash(hashtype='bcrypt') }}"
  reserved: true
  backend_roles:
    - "admin"
  description: "Administrative user"
{{ opensearch.internal_users.anomalyadmin.name | default("anomalyadmin") }}:
  hash: "{{ opensearch.internal_users.anomalyadmin.password | ansible.builtin.password_hash(hashtype='bcrypt') }}"
  reserved: false
  opendistro_security_roles:
    - "anomaly_full_access"
  description: "Anomalyadmin"
{{ opensearch.internal_users.dashboardsserver.name }}:
  hash: "{{ opensearch.internal_users.dashboardsserver.password | ansible.builtin.password_hash(hashtype='bcrypt') }}"
  reserved: false
  opendistro_security_roles:
    - "kibanaserver"
    - "kibana_server"
  backend_roles:
    - "opensearch_dashboards_user"
  description: "OpenSearch Dashboards user"
{% for user in opensearch.internal_users.additional_users | default([]) %}
{{ user.name }}:
  hash: {{ user.password | ansible.builtin.password_hash(hashtype='bcrypt') }}
  reserved: {{ user.reserved }}
{% if user.opendistro_security_roles is defined %}
  opendistro_security_roles:
{% for role in user.opendistro_security_roles %}
    - {{ role }}
{% endfor %}
{% endif %}
{% if user.backend_roles is defined %}
  backend_roles:
{% for role in user.backend_roles %}
    - {{ role }}
{% endfor %}
{% endif %}
  description_str: "{{ user.description }}"
{% endfor %}
