[Service]
# We would like to use modern YAML format instead of classic mode.
# First unset ExecStart
ExecStart=
# Then reset ExecStart
ExecStart=/opt/fluent-bit/bin/fluent-bit -c /etc/fluent-bit/fluent-bit.yml
