[Unit]
Description=Advanced Intrusion Detection Environment
Documentation=man:aide

[Service]
Type=oneshot
Nice=15
Environment=STARTED_BY_SYSTEMD=true
ExecStart=/usr/bin/aide --update -c /etc/aide/aide.conf

ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectHostname=true
ProtectControlGroups=true

RestrictFileSystems=ext4

LockPersonality=true