# This configuration file contains lists of allowed hosts
# Sets are useful, because they can be extended dynamically.

set sshd-v4-acl {
    type ipv4_addr
    flags interval
    elements = {
        127.0.0.1,
{% for ip in openssh_whitelist_ipv4 if openssh_whitelist_ipv4 is defined and openssh_whitelist_ipv4|length %}
        {{ ip }}
{% endfor %}
    }
}

set sshd-v6-acl {
    type ipv6_addr
    flags interval
    elements = {
        ::1,
{% for ip in openssh_whitelist_ipv6 if openssh_whitelist_ipv6 is defined and openssh_whitelist_ipv6|length %}
        {{ ip }}
{% endfor %}
    }
}
