# This file contains configurations for Logstash sources.
# Copyright: (c) 2025, Christian Siegel <molybdaen@mr42.org>
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)

set logstash-v4-acl {
    type ipv4_addr
    flags interval
    elements = {
        127.0.0.1,
{% for ip in logstash.whitelist.ipv4 | default([]) %}
        {{ ip }}{{ "," if not loop.last }}
{% endfor %}
    }
}

set logstash-v6-acl {
    type ipv6_addr
    flags interval
    elements = {
        127.0.0.1,
{% for ip in logstash.whitelist.ipv6 | default([]) %}
        {{ ip }}{{ "," if not loop.last }}
{% endfor %}
    }
}
