{% if system_sysctl.kernel.domainname is defined and system_sysctl.kernel.domainname|length %}
# Set a domain name/network name in kernel space
kernel.domainname = {{ system_sysctl.kernel.domainname }}

{% endif %}
# Stop low level messages on console
kernel.printk = 4 4 1 7

# PTRACE is used for debugging. A single user process can attach to any other process
# owned by the same user. This can be used to read out credentials in-memory.
# 0 is most permissive.
# 1 restricts this feature to direct children
kernel.yama.ptrace_scope = 1

# Restrict kernel pointer access (for example, cat /proc/kallsyms) for exploit assistance
# 0 -> all users can see kernel addresses
# 1 -> only root can see kernel addresses
# 2 -> no one, even root, can see kernel addresses
kernel.kptr_restrict = 2

# hide kernel addresses from the kernel logs
kernel.dmesg_restrict = 1

# Restrict eBPF
kernel.unprivileged_bpf_disabled = 1

# Mitigation CVE-2024-1086 by preventing unprivileged users from creating namespaces
kernel.unprivileged_userns_clone = 0

# kernel cire dump pid
kernel.core_uses_pid = 1

###################################################################
# Magic system request Key
# 0=disable, 1=enable all, >1 bitmask of sysrq functions
# See https://www.kernel.org/doc/html/latest/admin-guide/sysrq.html
# for what other values do
kernel.sysrq = 0

# Enable ExecShield protection
# Set value to 1 or 2 (recommended)
kernel.exec-shield = 2
kernel.randomize_va_space = 2

# Allow for more PIDs/Decrease PIDs
kernel.pid_max = 131072

